concept: organization
credentialType: NutsOrganizationCredential
public: true
indices:
  - name: index_id
    parts:
      - path: id
  - name: index_issuer
    parts:
      - path: issuer
  - name: index_subject
    parts:
      - path: credentialSubject.id
  - name: index_name_city
    parts:
      - path: credentialSubject.organization.name
        tokenizer: whitespaceOrExact
        transformer: cologne
      - path: credentialSubject.organization.city
        tokenizer: whitespaceOrExact
        transformer: cologne
template: |
  {
    "id": "<<id>>",
    "issuer": "<<issuer>>",
    "type": "NutsOrganizationCredential",
    "subject": "<<credentialSubject.id>>",
    "organization": {
      "name": "<<credentialSubject.organization.name>>",
      "city": "<<credentialSubject.organization.city>>"
    }
  }
