version: 2.1
orbs:
  codecov: codecov/codecov@1.0.5
jobs:
  build:
    docker:
      - image: circleci/golang:1.16
    steps:
      - checkout

      - restore_cache:
          keys:
            - go-mod-v1-{{ checksum "go.sum" }}

      - run: go get -t -v ./...

      - save_cache:
          key: go-mod-v1-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"

      - run: go test ./... -race
      - run: go test ./... -coverprofile=c.out

      # Run coverage report for Code Climate
      - run:
          name: Setup Code Climate test-reporter
          command: |
            mkdir -p tmp/
            # download test reporter as a static binary
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./tmp/cc-test-reporter
            chmod +x ./tmp/cc-test-reporter
            ./tmp/cc-test-reporter before-build
      # Upload results
      - run:
          name: Upload coverage
          command: |
            ./tmp/cc-test-reporter after-build -t gocov --prefix github.com/nuts-foundation/nuts-node


