version: "3.7"
services:
  nodeA:
    image: "${IMAGE_NODE_A:-nutsfoundation/nuts-node:master}"
    environment:
      NUTS_CONFIGFILE: /opt/nuts/nuts.yaml
      NUTS_NETWORK_NODEDID: "${NODEA_DID}"
      NUTS_GOLDENHAMMER_INTERVAL: 1s
    ports:
      - "11323:1323"
    volumes:
      - "./node-A/data:/opt/nuts/data"
      - "./node-A/nuts.yaml:/opt/nuts/nuts.yaml:ro"
      - "../../tls-certs/nodeA-certificate.pem:/opt/nuts/certificate-and-key.pem:ro"
      - "../../tls-certs/truststore.pem:/opt/nuts/truststore.pem:ro"
    healthcheck:
      interval: 1s # Make test run quicker by checking health status more often
  nodeB:
    image: "${IMAGE_NODE_B:-nutsfoundation/nuts-node:master}"
    environment:
      NUTS_CONFIGFILE: /opt/nuts/nuts.yaml
      NUTS_NETWORK_NODEDID: "${NODEB_DID}"
      NUTS_GOLDENHAMMER_INTERVAL: 1s
      NUTS_NETWORK_BOOTSTRAPNODES: "${BOOTSTRAPNODES:-nodeA:5555}"
    ports:
      - "21323:1323"
    volumes:
      - "./node-B/data:/opt/nuts/data"
      - "./node-B/nuts.yaml:/opt/nuts/nuts.yaml:ro"
      - "../../tls-certs/nodeB-certificate.pem:/opt/nuts/certificate-and-key.pem:ro"
      - "../../tls-certs/truststore.pem:/opt/nuts/truststore.pem:ro"
    healthcheck:
      interval: 1s # Make test run quicker by checking health status more often