package: v2
generate:
  echo-server: true
  client: true
  models: true
  strict-server: true
output-options:
  skip-prune: true
  exclude-schemas:
  - CredentialSubject
  - DID
  - Revocation
  - SearchVCRequest
  - VerifiableCredential
  - VerifiablePresentation
