services:
  node:
    image: "${IMAGE_NODE_A:-nutsfoundation/nuts-node:master}"
    environment:
      NUTS_CONFIGFILE: /opt/nuts/nuts.yaml
    ports:
      - 8080:8080
      - 8081:8081
    volumes:
      - "./config/node/nuts.yaml:/opt/nuts/nuts.yaml"
  chrome-headless-shell:
    image: chromedp/headless-shell:latest
    ports:
      - 9222:9222
