version: "3.7"
services:
  node1:
    image: &image nutsfoundation/nuts-node:latest
    environment:
      NUTS_CONFIGFILE: /opt/nuts/nuts.yaml
    healthcheck:
      test: "curl -f http://localhost:8080/status || exit 1"
    ports:
      - 8080:8080
    volumes:
      - "./nuts.yaml:/opt/nuts/nuts.yaml"
      - "./truststore.pem:/opt/nuts/truststore.pem"
      - "./node1/certificate.pem:/opt/nuts/certificate.pem"
      - "./irma:/opt/nuts/irma:ro"
  node2:
    image: *image
    environment:
      NUTS_CONFIGFILE: /opt/nuts/nuts.yaml
    healthcheck:
      test: "curl -f http://localhost:8080/status || exit 1"
    ports:
      - 8081:8080
    volumes:
      - "./nuts.yaml:/opt/nuts/nuts.yaml"
      - "./truststore.pem:/opt/nuts/truststore.pem"
      - "./node2/certificate.pem:/opt/nuts/certificate.pem"
      - "./irma:/opt/nuts/irma:ro"
  node3:
    image: *image
    environment:
      NUTS_CONFIGFILE: /opt/nuts/nuts.yaml
    healthcheck:
      test: "curl -f http://localhost:8080/status || exit 1"
    ports:
      - 8082:8080
    volumes:
      - "./nuts.yaml:/opt/nuts/nuts.yaml"
      - "./truststore.pem:/opt/nuts/truststore.pem"
      - "./node3/certificate.pem:/opt/nuts/certificate.pem"
      - "./irma:/opt/nuts/irma:ro"
