{
  "id": "<<id>>@B{1}",
  "type": "NutsAuthorizationCredential",
  "issuer": "<<issuer>>@B{2}",
  "credentialSubject": {
    "id": "<<holder>>@B{3_1},B{4_1}",
    "purposeOfUse": "<<purposeOfUse>>@B{3_2}",
    "subject": "<<subject>>@B{4_2}"
  }
}
