{
  "id": "<<id>>@{1}",
  "issuer": "<<issuer>>",
  "type": "NutsOrganizationCredential@{2_1},{3_1}",
  "credentialSubject": {
    "id": "<<subject>>@{3_2}",
    "organization": {
      "name": "<<organization.name>>@{2_2}",
      "city": "<<organization.city>>"
    }
  }
}