{
  "id": "<<id>>@B{1}",
  "issuer": "<<issuer>>@B{4}",
  "type": "NutsOrganizationCredential",
  "credentialSubject": {
    "id": "<<subject>>@B{3}",
    "organization": {
      "name": "<<organization.name>>@T{2_1}",
      "city": "<<organization.city>>@T{2_2}"
    }
  }
}
