---
name: 'E2E tests'

on:
  push:
    branches:
      - master
    tags:
      - 'v*'
  pull_request:
    branches:
      - master


jobs:
  e2e-test:
    permissions:
      packages: write

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setting git SHA to PR head
        if: ${{ github.event_name == 'pull_request' }}
        run: echo "SHA=${{ github.event.pull_request.head.sha }}" >> $GITHUB_ENV

      - name: Setting git SHA to branch head
        if: ${{ github.event_name != 'pull_request' }}
        run: echo "SHA=${{ github.sha }}" >> $GITHUB_ENV

      - name: Build and push
        uses: docker/build-push-action@v2
        if: ${{ github.actor != 'dependabot' }}
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64
          push: ${{ github.event_name == 'pull_request' || github.event_name == 'push' }}
          tags: ghcr.io/nuts-foundation/nuts-node-ci:${{ env.SHA }}
          secrets: |
            GIT_AUTH_TOKEN=${{ secrets.PACKAGE_SECRET }}

      - name: Build and push dependabot
        uses: docker/build-push-action@v2
        if: ${{ github.actor == 'dependabot' }}
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64
          push: ${{ github.event_name == 'pull_request' || github.event_name == 'push' }}
          tags: ghcr.io/nuts-foundation/nuts-node-ci:${{ env.SHA }}

      - name: Run E2E tests
        run: |
          git clone https://github.com/nuts-foundation/nuts-go-e2e-test.git && \
            cd nuts-go-e2e-test && \
            find . -type f -name "docker-compose.yml" | xargs -I{} sed -i "s~nutsfoundation/nuts-node:master~ghcr.io/nuts-foundation/nuts-node-ci:${{ env.SHA }}~g" {} && \
            sed -i "s~WITH DOCKER~WITH DOCKER --pull ghcr.io/nuts-foundation/nuts-node-ci:${{ env.SHA }}~g" Earthfile && \
            curl -LO https://github.com/earthly/earthly/releases/latest/download/earthly-linux-amd64 && \
            chmod +x earthly-linux-amd64 && \
            ./earthly-linux-amd64 -P +all

      - name: package cleanup
        uses: bots-house/ghcr-delete-image-action@v1.0.1
        if: ${{ github.actor != 'dependabot' }}
        with:
          owner: nuts-foundation
          name: nuts-node-ci
          # NOTE: using Personal Access Token
          token: ${{ secrets.PACKAGE_SECRET }}
          tag: ${{ env.SHA }}

      - name: package cleanup dependabot
        uses: bots-house/ghcr-delete-image-action@v1.0.1
        if: ${{ github.actor == 'dependabot' }}
        with:
          owner: nuts-foundation
          name: nuts-node-ci
          # NOTE: using Personal Access Token
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.SHA }}
